.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7fafc;
}

.main-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden; /* Prevents scrolling on the main container */
}

/* On smaller screens, stack the main content vertically */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}
